<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    Sobre Innova Comercial
                </div>
                <ul class="menu">
                    <li>
                        <a href="{{ path('homepage')}}">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ path('products')}}">Productos</a>
                    </li>
                    <li>
                        <a href="{{ path('gallery')}}">Galería</a>
                    </li>
                    <li>
                        <a href="{{ path('contact')}}">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="title">
                    Conecta con nosotros
                </div>
                <ul class="menu">  
                    <li>
                        <a href="https://www.facebook.com/innovacomercial/" target="_blank">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-contact">
                <img src="{{ asset('img/logo-innova.png') }}">
                <p><span>C/ Andreu Nin 67 bajos, 08016 Barcelona</span></p>
                <p>Teléfono: <span>633 273 658</span></p>

            </div>
        </div>

        <div class="bottom">
            <p>&copy; 2017 Innova Comercial</p>
        </div>
    </div>
</footer>