<div class="nav-info clearfix">
    <div class="container">
        <span class='caption'>Iluminación Led para el sector de la rotulación</span>
        <div class="phone float-right"><i class="fa fa-phone-square" aria-hidden="true"></i> 633 273 658</div>
    </div>
</div>
<nav class="navbar navbar-toggleable-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage')}}">
            <img src="{{ asset('img/logo-innova.png') }}" style="width:120px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% set route = app.request.attributes.get('_route') %}
                <li class="nav-item {% if route == 'homepage' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('homepage')}}">Inicio</a>
                </li>
                <li class="nav-item {% if route == 'products' or route == 'products_filtered' or route == 'product' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('products')}}">Productos</a>
                </li>
                <li class="nav-item {% if route == 'gallery' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('gallery')}}">Galería</a>
                </li>
                <li class="nav-item {% if route == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact')}}">Contacto</a>
                </li>
            </ul>
            {{ render(controller('AppBundle:Default:search'))}}
        </div>
    </div>
</nav>
