{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="container">
            <h2>Contacto</h2>
        </div>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="col-lg-7">
                {{ form_start(form, {'attr': {'id': 'contact_form'}}) }}

                <div style="margin-bottom: 15px;">
                    {{ form_widget(form.subject) }}
                    {{ form_errors(form.subject) }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
                </div>

                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(form) }}
                </div>

                <input type="submit" value="Submit" class="btn btn-success">

                {{ form_end(form) }}
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-5">
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                <p>
            </div>
        </div><!-- /.row -->


        <!-- FOOTER -->
        <footer>
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

    </div><!-- /.container -->

{% endblock %}
