{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-hero" style="background-image:url('http://spacialtheme.herokuapp.com/2.1/images/unsplash/jared-erondu-10472.jpg')">
        <div class='container'>
            <div class='hero-content'>
                <h1>Lorem ipsum dolor sit amet consectetum adispicin elit</h1>
                <p>Lorem ipsum dolor sit amet</p>
                <div class='text-center'>
                    <a class='btn btn-primary' href='{{ path('contact')}}'>Contáctanos</a>
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid">
        <section class="light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                
            </div>

        </section>


        <section class="">
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-12">
                        <h2 class="featurette-heading">Productos destacados</h2>                        
                    </div>
                    {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class='product'>
                                <a href="{{ path('product',{ 'id' : product.id })}}" style="background-image:url('{% path product.picture, 'big' %}');" class='product-pic'></a>
                                <div class="info">
                                    <p class="name">{{product.name}}</p>
                                    <p class="description">{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="light">
            <div class="container">
                <div class="row featurette no-gutters">
                    <div class="col-md-12">
                        <h2 class="featurette-heading">Últimos proyectos</h2>
                    </div>
                    {% for project in projects %}
                        <div class="col-md-6 col-lg-4">
                            <div href="" class="gallery-item">
                                <span class="mask">
                                    <span class="info">
                                        <h3>{{project.name}}</h3>
                                        <p>
                                            {{project.description}}
                                        </p>
                                    </span>
                                </span>
                                <span style="background-image:url('{% path project.picture, 'big' %}');" class="pic">
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>          
            </div>
        </section>


    </div><!-- /.container -->

{% endblock %}
