{% extends 'section_layout.html.twig' %}

{% block body %}

    {% block section_header %}
        <div class="header" data-paroller-factor="0.4" style="background-image:url({{ asset('img/lights.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <h2>Productos</h2>
                <p>Échale un vistazo a nuestro catálogo</p>
            </div>
        </div>
    {% endblock %}

    {% block section_breadcrumb %}
        {{ parent() }}
    {% endblock %}

    {% block section_body %}

        <div class="container main">

            <div class="row">
                <div class="col-lg-3">
                    <h4 class="upper-title">Filtrar por</h4>

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'products' %} active {% endif %}" href="{{ path('products')}}">Todo</a>
                        {% for category in all_categories %}           
                            <a class="list-group-item list-group-item-action {% if category.id == current_tab %} active {% endif %}" href="{{ path('products_filtered',{ 'category' : category.id })}}">{{category.name}}</a>
                        {% endfor %}                   
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="row product-list">
                        {% for product in products %}

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                {% include ('innova/partials/product_item.html.twig')%}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div><!-- /.row -->


        </div><!-- /.container -->
    {% endblock %}

{% endblock %}
