{% extends 'section_layout.html.twig' %}

{% block body %}

    {% block section_header %}
        <div class="header" style="background-image:url({{ asset('img/lights.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <h2>Productos</h2>
                <p>Échale un vistazo a nuestro catálogo</p>
            </div>
        </div>
    {% endblock %}

    {% block section_breadcrumb %}
        {{ parent() }}
    {% endblock %}

    {% block section_body %}
        <div class="container main">

            <div class="product-content">
                <div class="row">
                    <div class="col-md-5">
                        <div style="background-image:url('{% path product.picture, 'big' %}');" class="card-image-top main-pic"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h2>{{product.name}}</h2>
                                <h4>{{product.category.name}}</h4>
                                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#description" role="tab" data-toggle="tab" aria-expanded="true">Descripción</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#details" role="tab" data-toggle="tab" aria-expanded="false">Características técnicas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#requirements" role="tab" data-toggle="tab" aria-expanded="false">Componentes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-block">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="description" aria-expanded="true">
                                        {{product.description}}
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="details" aria-expanded="false">
                                        {{product.longDescription | raw}}
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="requirements" aria-expanded="false">
                                        {{product.specs | raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="related">
                <h2>También te puede interesar</h2>
                <div class="row">
                    {% for product in related %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            {% include ('innova/partials/product_item.html.twig')%}
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div><!-- /.container -->
    {% endblock %}

{% endblock %}
